.jobListingItem {
  position: relative;

  margin: 0 auto;
  padding: 3.6rem 3.2rem;

  width: 100%;
  max-width: 35rem;

  border-radius: 0.6rem;
  background-color: #fff;
}

.jobListingItem__imageContainer {
  top: -3rem;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  padding: 1rem;
}

.jobListingItem__image {
  background-color: red;
}

.jobListingItem__mainContent {
}

.jobListingItem__topRow {
  display: flex;
  gap: 1.2rem;
  font-size: 1.6rem;
  color: var(--dark-grey);
  margin-bottom: 1.6rem;
}

.jobListingItem__position {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.jobListingItem__company {
  font-size: 1.6rem;
  color: var(--dark-grey);
  margin-bottom: 4.4rem;
}

.jobListingItem__location {
  color: vaR(--violet);
  font-size: 1.4rem;
  font-weight: 700;
}
