.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3.4rem 2.4rem 7.2rem;
  background-image: url("../../../../public/assets/mobile/bg-pattern-header.svg");
  width: 100vw;
}
