.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  max-width: 35rem;
  margin: 3.2rem auto;

  @media screen and (min-width: 760px) {
    width: 93%;
    max-width: 74rem;
  }

  @media screen and (min-width: 1300px) {
    max-width: 112rem;
    margin: 4.4rem auto;
  }
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 13.6rem;
  z-index: -1;
  background-image: url("../../../../public/assets/mobile/bg-pattern-header.svg");
}

@media screen and (min-width: 1300px) {
  .header::after {
    height: 16.2rem;
    border-bottom-left-radius: 10rem;
    overflow: hidden;
  }
}
