/* Mobile Styles */

.filterBar {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-inline: 1.6rem;
  border-radius: 0.6rem;
  margin-bottom: 5.7rem;

  max-width: 35rem;

  background-color: var(--foreground);
}

.filterBar__titleSection {
  display: flex;
  align-items: center;
  width: 100%;
  transition: padding 1s ease-in-out;
}

.filterBar__titleSectionWithRefresh {
  position: relative;
}

.filterBar__locationSection {
  display: none;
}

.filterBar__contractSection {
  display: none;
}

.filterBar__mobileButtons {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.filterBar__refreshIcon {
  margin-right: 1.6rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(74%) sepia(7%) saturate(792%)
    hue-rotate(172deg) brightness(92%) contrast(88%);
}

.filterBar__filterIcon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.filterBar__searchIcon {
  position: relative;
  box-sizing: content-box;

  padding: 0.8rem;
  border-radius: 0.8rem;
  filter: brightness(0) invert(100%);
}

.filterBar__searchIconBackground {
  width: 4.5rem;
  height: 4.5rem;
  background-color: var(--violet);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.filterBar__searchIconDesktop {
  display: none;
}

/* Desktop Styles */

@media screen and (min-width: 760px) {
  .filterBar {
    width: 93%;
    max-width: 74rem;
  }

  .filterBar__mobileButtons {
    display: none;
  }

  .filterBar__titleSection {
    flex: 1;
  }

  .filterBar__titleSection input {
    max-width: 15rem;
  }

  .filterBar__locationSection {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .filterBar__contractSection {
    flex: 1;

    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  .filterBar__contractCheckboxContainer {
    flex: 3;

    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .filterBar__contactButton {
    flex: 2;
  }

  .filterBar__fullTimeLabel {
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    color: var(--mainTitle);
  }

  .filterBar__searchIconDesktop {
    display: inline;
    margin-right: 2.4rem;
  }
}

@media screen and (min-width: 1300px) {
  .filterBar {
    max-width: 112rem;
    margin-bottom: 8rem;
  }

  .filterBar__searchIconDesktop {
    margin-left: 1rem;
  }
}
