:root {
  --violet: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --light-grey: #9daec2;
  --grey: #9daec2;
  --dark-grey: #6e8098;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: var(--very-dark-blue);
  background-color: #f4f6f8;
}

li {
  list-style: none;
}
