.jobDetailsInfo {
  margin: 0 auto;
  width: 90%;
  max-width: 35rem;

  display: flex;
  flex-direction: column;

  padding: 4rem 2.4rem;

  background-color: #fff;
  border-radius: 0.6rem;
}

.jobDetailsInfo__header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  margin-bottom: 5rem;
}

.jobDetailsInfo__headerTop {
  display: flex;
  gap: 2rem;

  font-size: 1.6rem;
  color: #6e8098;
}

.jobDetailsInfo__headerTitle {
  font-size: 2rem;
  font-weight: 700;
}

.jobDetailsInfo__headerLocation {
  font-size: 1.6rem;
  color: var(--violet);
  font-weight: 700;
}

.jobDetailsInfo__mainDescription {
  margin: 3rem 0;

  font-size: 2rem;
  color: #6e8098;
  line-height: 1.7;
}

/* Requirements Section */

.requirementsSection {
}

.requirementsSection__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.requirementsSection__description {
  font-size: 2rem;
  color: #6e8098;
  line-height: 1.7;
}

