.filterModal {
  width: 32.7rem;
  background-color: #fff;
  padding-top: 2.4rem;

  border-radius: 0.6rem;
}

.filterModal__separator {
}

.filterModal__content {
  padding: 2.4rem;
}

.filterModal__fullTimeSection {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  font-size: 1.6rem;
  font-weight: 700;

  margin-bottom: 2.4rem;
}

.filterModal_fullTimeLabel {
  cursor: pointer;
}
