.filterModal {
  width: 32.7rem;
  background-color: #fff;

  border-radius: 0.8rem;
}

.filterModal__topLine {
  padding: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.filterModal__separator {
  background-color: #6e8098;
  opacity: 0.2;
}

.filterModal__content {
  padding: 2.4rem;
}

.filterModal__fullTimeSection {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  font-size: 1.6rem;
  font-weight: 700;

  margin-bottom: 2.4rem;
}

.filterModal_fullTimeLabel {
  cursor: pointer;
}
