.jobDetailsInfo {
  margin: 0 auto;
  width: 90%;
  max-width: 70rem;

  display: flex;
  flex-direction: column;

  padding: 4rem 2.4rem;

  background-color: var(--foreground);
  border-radius: 0.6rem;

  @media screen and (min-width: 760px) {
    padding: 4.8rem;
  }
}

.jobDetailsInfo__top {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-bottom: 3.2rem;

  @media screen and (min-width: 600px) {
    flex-direction: row;
    align-items: center;
    gap: 11rem;
  }
}

.jobDetailsInfo__header {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.jobDetailsInfo__headerTop {
  display: flex;
  gap: 2rem;

  font-size: 1.6rem;
  color: #6e8098;
}

.jobDetailsInfo__topButtonContainer {
  align-self: center;
  width: 100%;
  max-width: 33rem;

  @media screen and (min-width: 600px) {
    margin-left: auto;
    max-width: 15rem;
  }
}

.jobDetailsInfo__headerTitle {
  font-size: 2rem;
  font-weight: 700;
  color: var(--mainTitle);

  @media screen and (min-width: 760px) {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
  }
}

.jobDetailsInfo__headerLocation {
  font-size: 1.6rem;
  color: var(--violet);
  font-weight: 700;
}

.jobDetailsInfo__mainDescription {
  margin: 3rem 0;

  font-size: 2rem;
  color: #6e8098;
  line-height: 1.7;
}

/* Requirements Section */

.requirementsSection {
  margin-bottom: 3rem;
}

.requirementsSection__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3rem;

  color: var(--mainTitle);
}

.requirementsSection__description {
  font-size: 2rem;
  color: #6e8098;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.requirementsSection__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 2rem;
  color: #6e8098;
  line-height: 1.7;
}

.requirementsSection__listItem {
  position: relative;
  padding-left: 3rem;
}

.requirementsSection__listItem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--violet);
}

/* Roles Section */

.roleSection {
}

.roleSection__title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: var(--mainTitle);
}

.roleSection__description {
  font-size: 2rem;
  color: #6e8098;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.roleSection__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  font-size: 2rem;
  color: #6e8098;
  line-height: 1.7;

  counter-reset: custom-counter;
}

.roleSection__listItem {
  counter-increment: custom-counter;
  position: relative;
  padding-left: 3rem;
}

.roleSection__listItem::before {
  content: counter(custom-counter);
  position: absolute;
  left: 0;

  font-weight: 700;
  color: var(--violet);
}
